<div id="welcome">
    <h2>Рейтинг пользователей <span>TODO list:</span></h2>
    {#<p class="submit"><input class="button" id="report" name="submit" type="submit" value="Показать">#}
    <p><a href="../src/sign_in.php">Вернуться к авторизации</a></p>
</div>