<html>
<head>
    <title>TODO List</title>
</head>
<body>
<p class="logo_todo">TODO</p>
<p class="logo_list">list</p>
<div class="container mregister">
    <form action="../src/report_table.php" id="reportform" method="post" name="reportform">
        <span>Самый активный пользователь: </span>
        <p class="submit"><input class="button" id="report" name="submit" type="submit" value="Показать">
    </form>
</div>
</body>
</html>