<html>
    <head>
        <title>TODO List</title>
    </head>
    <body>
        <p class="logo_todo">TODO</p>
        <p class="logo_list">list</p>
        <div class="container mregister">
            <div id="form">
                <h1>Вход</h1>
                <form action="../src/entrance.php" id="registerform" method="post" name="registerform">
                    <p><label>Логин<br>
                            <input class="input" id="login" name="login" size="50" type="text" value="" maxlength="50"></label>
                    </p>
                    <p><label>Пароль<br>
                            <input class="input" id="password" name="password" size="50" type="password" value=""
                                   maxlength="50"></label></p>
                    <p class="submit"><input class="button" id="register" name="submit" type="submit" value="Войти">
                    </p>
                    <a href="../src/registration.php">Зарегистрироваться</a>
                    <br>
                    <a href="../src/report_table.php">Рейтинг пользователей</a>
                </form>
            </div>
        </div>
    </body>
</html>