<div id="welcome">
    <h2>Добро пожаловать, <span>{{ guest }}! </span></h2>
    <p>Вы успешно вошли на сайт! Теперь вы можете зайти на <a href="http://localhost/public/index.php?id={{ id }}">главную
            страницу</a>
    </p>
    <p><a href="../src/sign_out.php">Выйти</a> из системы
    </p>
</div>
